.nav > a {
  padding:0.5em;
}

html * {
  font-family: 'Oswald', impact, sans-serif;
  font-size: 1.1em;
}

tspan {
  font-family: 'Anton', sans-serif !important;
  font-weight: bold !important;
  stroke-width: 4px !important;
}

.hold * > tspan {;
  font-weight: bold !important;
  font-size: 215px !important;
  stroke-width: 10px !important;
  letter-spacing: -8px !important;
}
